<ion-header>
  <ion-toolbar>
    <!--     ##################### MENU FORMA 1 ########################
  <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <!-- ################### MENU FORMA 2 ######################### -->

    <ion-buttons slot="start">
      <ion-menu-button menu="first" slot="icon-only" name="menu-outline" color="primary"></ion-menu-button>
      <!-- <ion-item lines="none" slot="end">
        <ion-toggle (ionChange)="theme($event)" slot="end"></ion-toggle>
      </ion-item> -->
    </ion-buttons>

    <ion-title>{{nombreInicio}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts" class="slide-full">
    <ion-slide *ngFor="let slide of slides" class="slideCustom">
      <ion-card mode="ios">
        <ion-img [src]="slide.img" class="slide-image"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{slide.titulo}}</ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
          {{slide.desc}}

          <ion-button class="ion-padding" *ngIf="slide.link" (click)="openUrl(slide.link)" expand="block">
            Visita mi GitHub
          </ion-button>

        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-menu-button menu="first" slot="icon-only" name="menu-outline" color="primary"> Comencemos!</ion-menu-button>
    </ion-slide>

  </ion-slides>


  <!--  <ion-list>
    <ion-item *ngFor="let item of menuItems | async" routerLink="{{item.redirectTo}}" detail>
      <ion-icon name="{{item.icon}}" slot="start" color="primary"></ion-icon>
      {{item.name}}
    </ion-item>
  </ion-list> -->

  <!--   <ion-button routerLink='/alert'>
    Alert
  </ion-button>
  <ion-button routerLink='/action-sheet'>
    Action Sheet
  </ion-button> -->



</ion-content>