<app-header [nombre]="'alert'"></app-header>

<ion-content class="ion-padding">
    <ion-button (click)="presentAlert()" expand="block" color="danger">
        Alerta
    </ion-button>
    <ion-button (click)="presentAlertMultipleButtons()" expand="block" color="secondary">
        Alert Multiple Buttons
    </ion-button>
    <ion-button (click)="presentAlertMultipleButtonsCallBack()" expand="block" color="tertiary">
        Multiple con CallBacks
    </ion-button>
    <ion-button (click)="presentAlertPrompt()" expand="block" color="warning">
        Alert Prompt (formulario)
    </ion-button>
    <ion-button (click)="presentAlertRadio()" expand="block" color="light">
        Alert Radio
    </ion-button>
</ion-content>